<h1 class="text-center">List Auction Results</h1>


<table class="table table-responsive table-sm table-bordered table-hover">
  <thead>
    <tr class="table-success">
      <th>Auction name</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Vehicle year</th>
      <th>Vehicle make</th>
      <th>Vehicle model</th>
      <th>Vehicle stock number</th>
      <th>Winning bid</th>
      <th>Seller payout</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |auction| %>
      <tr>
        <td><%= auction.auction_name %></td>
        <td><%= auction.street_address %></td>
        <td><%= auction.city %></td>
        <td><%= auction.state %></td>
        <td><%= auction.zip %></td>
        <td><%= auction.vehicle_year %></td>
        <td><%= auction.vehicle_make %></td>
        <td><%= auction.vehicle_model %></td>
        <td><%= auction.vehicle_stock_number %></td>
        <td><%= auction.winning_bid %></td>
        <td><%= auction.seller_payout %></td>
        <td><%= auction.description %></td>
        <td><%= link_to 'Show', auction %></td>
        <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
        <td><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3 class="text-center">Import Auction Sales</h3>
<br>
<br>

<%= form_tag  import_auctions_path, multipart: true, class: 'text-center' do %>
  <%= file_field_tag :file %>
  <br>
  <br>

  <%= submit_tag "Upload Auction Results", class: "btn btn-md btn-success" %>

<% end %>
<br>
<div class="container">
    <div class="row">
<%= auction_details %>
    </div>
  </div>
  <br/>

<!--<%= link_to 'New Auction', new_auction_path %>-->
